version: '3'

services: 
  app:
    build: 
      context: ..
      dockerfile: .devcontainer/Dockerfile
    ports: 
      - 9000:9000
    volumes: 
      - ..:/workspace
    command: sleep infinity
